
.btn {
  padding: 10px;
  border-radius: 20px;
  background-color: darksalmon;
  color: white;
  font-size: 16px;
  margin-top: 5px;
}

.App {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* max-width: fit-content;
  position: absolute; */
}
.customform {
  width: 100%;
  margin: 0 auto;
  margin: 25px;
}

.Multiple-select {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.card {
  margin: 10px;
}
.basic-info {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px gray;
}
.print-btns {
  text-align: center;
}
.mainContainer{


  justify-content: center;
} 

h2{
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
}
label{
  padding-top: 10px;
}
.checklist{
  margin-right: 4px;
}
.Error{
  color: red;
    font-weight: 700;
}
.topeditsec{
  display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
}
