
.stylediv{
    display: flex;
    display: inline-grid;
    /* position: absolute; */
}
.style_module{
    /* height: 200px;
    width: 180px;  */
    border:2px solid black;
    /* position: relative; */
    padding: 10px;
    margin:30px;
    border-radius: 5px;


}

.myallmodules{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.submode{
    display: grid;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.check {
    padding: 5px;
}
.submode1{
    padding: 10px;
    position: fixed;
    width: 350px;
    top: 26%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    z-index: 9999999;
    background-color: aliceblue;
    border : 2px solid black;
    border-radius: 5px;
    --darkreader-inline-bgcolor: #ffffff;
}